@model COMP306_ONLINE_ORDER_LAB2.Models.Customer

@{
    ViewBag.Title = "LoggedIn";
}

<h2>LoggedIn</h2>
@if (Session["UserId"] != null)
{
    <h4>Hello @Session["FirstName"].ToString() </h4>
    <dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.LastName)
    </dt>

    <dd>
       @Html.DisplayFor(model=>model.LastName)      
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.FirstName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Address)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Address)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DistrictName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DistrictName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Phone)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Phone)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.PostalCode)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.PostalCode)
    </dd>
  </dl>
}

